apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: cloudsql-proxy
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: {{ template "cloudsql-proxy.name" . }}
        chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
        release: {{ .Release.Name }}
        heritage: {{ .Release.Service }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
    spec:
      containers:
        - name: cloudsql-proxy
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          image: "{{ .Values.image.name }}:{{ .Values.image.tag }}"
          command: ["/cloud_sql_proxy",
                    "-instances={{ .Values.gcp.project }}:{{ .Values.gcp.region }}:{{ .Values.gcp.instance }}=tcp:{{ .Values.bind.addr}}:{{ .Values.bind.port}}",
                    "-credential_file={{ .Values.credentials.path }}/{{ .Values.credentials.file }}"]
          volumeMounts:
            - name: cloudsql-credentials
              mountPath: {{ .Values.credentials.path }}
              readOnly: true
            - name: ssl-certs
              mountPath: {{ .Values.ssl.path }}
          ports:
          - containerPort: {{ .Values.bind.port }}
            name: cloudsqlproxyport
            protocol: TCP
      volumes:
        - name: cloudsql-credentials
          secret:
            secretName: {{ .Values.credentials.secret}}
        - name: ssl-certs
          hostPath:
            path: {{ .Values.ssl.hostpath }}
